<h1><%= @job.title %></h1>

<p> <%= @job.description %> </p>
<p> USER : <%= @job.user %> </p>
<p> ZIP CODE : <%= @job.zip %> </p>
<p><%= @response %></p>
<p><%= @responseString %></p>
<p><%= @responseNil %></p>