<h1><%= @job.title %></h1>

<p> <%= @job.description %> </p>
<p> USER : <%= @job.user %> </p>
<p> ZIP CODE : <%= @job.zip %> </p>
<p>
    Weather : <%= @job.temp%> °C, feels like : <%= @job.tempfeels%> °C
</p>  
<img src="<%= @job.iconurl%>" alt= "<%= @job.icondescription%>"> 